/* 1. MAPS BANNER SECTION */
body {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.doc-logo {
    top: 31px;
    left: 154px;
    width: auto;
    height: 65px;
    margin-bottom: 20px;
}

.maps-image {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 403px;
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-left: 35px;
}

.maps-bg {
    background: transparent url('img/Map.png') 0% 0% no-repeat padding-box;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 403px;
    width: 70%;
    position: absolute;
    left: 30%;
}

.maps-title {
    text-align: left;
    font: normal normal 600 34px/42px Open Sans;
    letter-spacing: 0px;
    color: #011132;
    text-transform: uppercase;
    opacity: 1;
}

 .title-indo {
     color: #50A5D8;
 }

.maps-desc {
    text-align: left;
    font: normal normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    color: #011132;
    opacity: 1;
}

.maps-button {
    background: rgb(46,90,169);
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    border-radius: 15px;
    font: normal normal bold 20px/12px Open Sans;
    font-size: 16px;
    color: #fff;
    padding: 12px 40px;
    width: 206px;
    height: 56px;
    opacity: 1;
    margin: 30px;
}

/* 2. SIAPA DOC SECTION */
/* .intro-img {
    position: ;
    width: auto;
    height: 339px;
    top: 595px;
} */

.intro-banner {
    background: transparent url('img/Group50.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 422px;
    float: right;
    margin-top: 50px;
    width: 90%;
    position: relative;
}

.intro-desc {
    text-align: left;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    position: absolute;
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 150px;
    padding-right: 30px;

}

.intro-banner-title {
    font: normal normal 600 34px/15px Open Sans;
}

.short-intro {
    font: normal normal normal 20px/28px Open Sans;
}

/* 3. MENGAPA MEMILIH KAMI SECTION */
.benefits-section {
    margin-top: 670px;
    width: 100%;
    left: 103px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.benefits-bg-img {
    background: transparent url('img/Group\ 51.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;
    position: relative;
}

.benefits-title-class {
    color: #011132;
	margin: -12% 0 50px;
    text-align: left;
}

h3 {
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    color: #011132;
    text-transform: uppercase;
    opacity: 1;
    padding-top: 20px;
    padding-left: 15px;
}

.benefits-card{
    background: #10327A 0% 0% no-repeat padding-box;;
    box-shadow: 0px 4px 5px #00000029;
    opacity: 1;
    width: 193px;
    height: 263px;
    padding: 5px 20px;
    border-radius:  0px 40px;
    position: relative;
    top: 50px;
    left: 30px;
}

.benefits-card-title-1{
    text-align: left;
    font: normal normal bold 20px/28px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 20px;
}

.benefits-card-title-2,.benefits-card-title-3, .benefits-card-title-4{
    text-align: left;
    font: normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 20px;
    margin-top: 10px;
}

.benefits-card-img-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.benefits-card-img-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
}

.benefits-card-img-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 60%;
}

/* .benefits-card-img-4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 60%;
} */

/* 4. BENEFITS BUTTON SECTION */
.benefits-button-section {
    margin-top: 95px;
    text-align: center;
}

.benefits-button {
    background: rgb(46,90,169);
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    border-radius: 15px;
    font: normal normal bold 20px/12px Open Sans;
    font-size: 16px;
    color: #fff;
    padding: 12px 40px;
    width: 225px;
    height: 58px;
    opacity: 1;
}

/* 5. THREE EASY STEPS SECTION */
.three-steps-section {
    margin-top: 230px;
    width: 100%;
}

.three-steps-title-class {
    color: #011132;
	margin: -12% 0 50px;
	text-align: left;
}

h3 {
    font: normal normal 600 34px/42px Open Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
}

/* .three-steps-img1 {
    width: 287px;
    height: 372px;
    background: url('img/Group 24.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right right;
}

.three-steps-img2 {
    width: 287px;
    height: 372px;
    background: url('img/Group 42.png') 0% 0% no-repeat padding-box;
    opacity: 1; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left left;
} */

.three-steps-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 5px #00000029;
    opacity: 1;
    width: 261px;
    height: 393px;
    padding: 5px 20px;
    border-radius: 5px 20px 5px;
    position: relative;
}

.three-steps-num {
    background: #05DDC5 0% 0% no-repeat padding-box;
    border-radius: 0px 30px;
    opacity: 1;
    height: 74px;
    width: 74px;
    position: absolute;
    margin-top: 20px;
}

.numbered-steps {
    text-align: center;
    font: normal normal 600 34px/12px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 25px;
}

.three-steps-img {
    width: 51px;
    height: 46px;
    opacity: 1;
    float: right;
    margin-top: 30px;
}

.three-steps-title {
    text-align: left;
    font: normal normal 600 20px/12px Open Sans;
    letter-spacing: 0px;
    color: #011132;
    opacity: 1;
    margin-top: 160px;
}

.three-steps-text {
    text-align: left;
    font: normal normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    color: #011132;
    opacity: 1;
    margin-top: 21px;
}

/* 6. THREE STEPS BUTTON */
.three-steps-button-section {
    margin-top: 95px;
    text-align: center;
}

.three-steps-button {
    background: rgb(46,90,169);
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    border-radius: 15px;
    font: normal normal bold 20px/12px Open Sans;
    font-size: 16px;
    color: #fff;
    padding: 12px 40px;
    width: 225px;
    height: 58px;
    opacity: 1;
}

/* 7. DAPATKAN HADIAH SECTION */
.get-prize-section {
    margin-top: 100px;
}

.get-prize-maintitle {
    text-align: center;
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    color: #011132;
    text-transform: uppercase;
    opacity: 1;
}

.get-prize-class {
    background: #10327A 0% 0% no-repeat padding-box;
    height: 533px;
    width: 93%;
    opacity: 1;
    float: right;
    margin-top: 30px;
    position: relative;
}

.get-prize-desc {
    color: #fff;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;
}

.get-prize-title {
    text-align: left;
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.get-prize-text {
    text-align: left;
    font: normal normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.get-prize-number {
    position: absolute;
}

.get-prize-bg1 {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 155px;
    height: 155px;
    border-radius: 1px 80px 80px 1px;
    position: relative;
    margin-top: 140px;
}

.get-prize-bg2 {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 155px;
    height: 155px;
    border-radius: 1px 80px 80px 1px;
    position: relative;
    margin-bottom: 100px;
}

.get-prize-circle1 {
    background: #EC4C7A 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: 13px;
}

.get-prize-circle2 {
    background: #05DDC5 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: 13px;
}

.get-prize-num {
    text-align: center;
    font: normal normal bold 40px/12px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 15px;
}

/* 8. MITRA DOCTORONCALL SECTION */
.partner-class-section {
    margin-top: 150px;
}

.partner-background {
    margin-top: 780px;
    background: #E5E5E54B 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 737px;
    width: 100%;
    position: relative;
}

.partner-title-class {
    margin: -12% 0 50px;
    padding-top: 20px;
}

.partner-title-text {
    text-align: center;
    font: normal normal 600 34px/19px Open Sans;
    color: #414141;
    letter-spacing: 0px;
    opacity: 1;
    text-transform: none;
}

.partner-img {
    background: transparent url('img/partners@2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 500px;
    width: 1075px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

/* 9. FOOTER */
.footer1-background {
    background: #EC4C7A 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 276px;
    width: 100%;
    position: relative;
}

.footer-text1 {
    text-align: center;
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    color: #F8F8F8;
    text-transform: uppercase;
    opacity: 1;
    padding: 70px;
}

.footer-button-class {
    text-align: center;
}

.footer-button {
    background: rgb(46,90,169);
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    border-radius: 15px;
    font: normal normal bold 20px/12px Open Sans;
    font-size: 16px;
    color: #fff;
    padding: 12px 40px;
    width: 225px;
    height: 58px;
    opacity: 1;
}

.footer2-background {
    background: #10327A 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 147px;
    width: 100%;
    position: relative;
}

.footer-text-title2 {
    text-align: center;
}

.footer-text2 {
    font: normal normal normal 16px/12px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 50px;
}
