/* TABLE OF CONTENT

1. BODY SECTION
2. LOGO
3. MAPS BANNER SECTION
4. SIAPA DOC SECTION
5. MENGAPA MEMILIH KAMI SECTION
6. MENGAPA MEMILIH KAMI BUTTON SECTION
7. TIGA LANGKAH MUDAH SECTION
8. TIGA LANGKAH MUDAH BUTTON SECTION
9. DAPATKAN HADIAH SECTION
10. MITRA DOCTORONCALL SECTION
11. FOOTER*/

body {
    background: #F8F8F8;
    opacity: 1;
    font-family: 'Open Sans';
}

.doc-logo {
    height: 65px;
    left: 154px;
    margin-bottom: 20px;
    top: 31px;
    width: auto;
}

@media(max-width: 576px) {
    .doc-logo {
        height: 39px;
    }
}

/* 3. MAPS BANNER SECTION */
.maps-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/Map.png');
    background-color: #fff;
    height: 403px;
    opacity: 1;
    padding-left: 35px;
    padding-top: 10px;
    width: 100%;
}

.maps-text-class {
    color: #011132;
    text-align: left;
}

.maps-title {
    font: normal normal 600 34px/42px Open Sans;
    text-transform: uppercase;
}

.title-indo {
     color: #50A5D8;
 }

.maps-desc {
    font: normal normal normal 20px/28px Open Sans;
}

.maps-button {
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    background: rgb(46,90,169);
    border-radius: 15px;
    color: #fff;
    font: normal normal bold 20px/12px Open Sans;
    height: 56px;
    margin: 30px;
    padding: 12px 40px;
    width: 206px;
}

@media(max-width: 576px) {
    .maps-image {
        height: unset;
        padding: 10px;
        text-align: center;
    }   

    .maps-text-class {
        text-align: center;
    }

    .maps-title {
        font: normal normal 600 18px/22px Open Sans;
    }

    .maps-desc {
        font: normal normal 300 13px/18px Open Sans;
    }

    .maps-button {
        width: 103px;
        height: 28px;
        border-radius: 5px;
        font: normal normal bold 11px/12px Open Sans;
        margin: 2px;
        padding: 0px 6px;
    }
}

/* 4. SIAPA DOC SECTION */
.intro-banner-img {
    padding-top: 50px;
    position: absolute;
    width: 250px;
    z-index: 1;
}

@media(max-width: 576px) {
    .intro-banner-img {
        width: 115px;
        z-index: 1;
        position: absolute;
        margin-top: 20px;
    }  
}

.intro-banner-class {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url('img/Group50.svg');
    height: 422px;
    margin-top: 30px;
    width: 100%;
}

@media(max-width: 576px) {
    .intro-banner-class {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #10327A;
        background-image: url('img/Lines.svg');
        width: 90%;
        float: right;
        height: unset;
    }
}

.intro-desc-class {
    color: #fff;
    padding: 50px 80px 0px 250px;
    text-align: center;
}

@media(max-width: 576px) {
    .intro-desc-class {
        padding-top: 10px;
        padding-left: 82px;
    }    
}

.intro-banner-title {
    font: normal normal 600 34px/15px Open Sans;
    text-align: left;
}

@media(max-width: 576px) {
    .intro-banner-title {
        font: normal normal 600 18px/15px Open Sans;
    }
}

.short-intro {
    font: normal normal normal 20px/28px Open Sans;
    text-align: left;
}

@media(max-width: 576px) {
    .short-intro {
        font: normal normal normal 13px/18px Open Sans;
    }
}

/* 5. MENGAPA MEMILIH KAMI SECTION */
.benefits-section {
    background: #FFFFFF;
    /* left: 103px; */
    margin-top: 670px;
    /* opacity: 1; */
    width: 100%;
    padding: 10px;
}

.benefits-bg-img {
    background: transparent url('img/Group\ 51.svg');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center center;
    /* height: 400px; */
    opacity: 1;
    /* position: relative; */
    width: 100%;
}

.benefits-title-class {
    color: #011132;
	margin: -12% 0 50px;
    text-align: left;
}

h3 {
    color: #011132;
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    padding-left: 15px;
    padding-top: 20px;
    text-transform: uppercase;
}

.benefits-card{
    background: #10327A;
    border-radius:  0px 40px;
    box-shadow: 0px 4px 5px #00000029;
    height: 263px;
    /* left: 30px; */
    /* opacity: 1; */
    padding: 10px;
    /* position: relative;
    top: 50px; */
    /* width: 193px; */
}

.benefits-card-title-1{
    color: #FFFFFF;
    /* font: normal normal bold 20px/28px Open Sans; */
    /* letter-spacing: 0px; */
    /* margin-left: 20px;
    opacity: 1; */
    text-align: left;
}

/* .benefits-card-title-2,.benefits-card-title-3, .benefits-card-title-4{
    color: #FFFFFF;
    font: normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    margin-left: 20px;
    margin-top: 10px;
    opacity: 1;
    text-align: left;
} */

/* .benefits-card-title-4 {
    color: #FFFFFF;
    font: normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    margin-left: 20px;
    margin-top: 25px;
    opacity: 1;
    text-align: left;
} */

.benefits-card-img-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.benefits-card-img-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
}

.benefits-card-img-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 60%;
}

.benefits-card-img-4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 60%;
}

/* 6. MENGAPA MEMILIH KAMI BUTTON SECTION */
.benefits-button-section {
    margin-top: 95px;
    text-align: center;
}

.benefits-button {
    background: rgb(46,90,169);
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    border-radius: 15px;
    font: normal normal bold 20px/12px Open Sans;
    font-size: 16px;
    color: #fff;
    padding: 12px 40px;
    width: 225px;
    height: 58px;
    opacity: 1;
}

/* 7. TIGA LANGKAH MUDAH SECTION */
.three-steps-section {
    margin-top: 230px;
    width: 100%;
}

.three-steps-title-class {
    color: #011132;
	margin: -12% 0 50px;
	text-align: left;
}

h3 {
    font: normal normal 600 34px/42px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    text-transform: uppercase;
    
}

.three-steps-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px 20px 5px;
    box-shadow: 0px 4px 5px #00000029;
    height: 393px;
    opacity: 1;
    padding: 5px 20px;
    position: relative;
    width: 261px;
}

.three-steps-num {
    background: #05DDC5 0% 0% no-repeat padding-box;
    border-radius: 0px 30px;
    height: 74px;
    margin-top: 20px;
    opacity: 1;
    position: absolute;
    width: 74px;
}

.numbered-steps {
    color: #FFFFFF;
    font: normal normal 600 34px/12px Open Sans;
    letter-spacing: 0px;
    margin-top: 25px;
    opacity: 1;
    text-align: center;
}

.three-steps-img {
    float: right;
    height: 46px;
    margin-top: 30px;
    opacity: 1;
    width: 51px;
}

.three-steps-title {
    color: #011132;
    font: normal normal 600 20px/12px Open Sans;
    letter-spacing: 0px;
    margin-top: 160px;
    opacity: 1;
    text-align: left;
}

.three-steps-text {
    color: #011132;
    font: normal normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    margin-top: 21px;
    opacity: 1;
    text-align: left;
}

/* 8. TIGA LANGKAH MUDAH BUTTON */
.three-steps-button-section {
    margin-top: 95px;
    text-align: center;
}

.three-steps-button {
    background: rgb(46,90,169);
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    border-radius: 15px;
    color: #fff;
    font: normal normal bold 20px/12px Open Sans;
    font-size: 16px;
    height: 58px;
    opacity: 1;
    padding: 12px 40px;
    width: 225px;
}

/* 9. DAPATKAN HADIAH SECTION */
.get-prize-section {
    margin-top: 100px;
}

.get-prize-maintitle {
    color: #011132;
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
}

.get-prize-class {
    background: #10327A 0% 0% no-repeat padding-box;
    float: right;
    height: 533px;
    margin-top: 30px;
    opacity: 1;
    position: relative;
    /* width: 93%; */
}

.get-prize-desc {
    color: #fff;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;
}

.get-prize-title {
    color: #FFFFFF;
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    text-align: left;
    text-transform: uppercase;
}

.get-prize-text {
    color: #FFFFFF;
    font: normal normal normal 20px/28px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    text-align: left;
}

.get-prize-number {
    position: absolute;
}

.get-prize-bg1 {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 1px 80px 80px 1px;
    height: 155px;
    margin-top: 140px;
    opacity: 1;
    position: relative;
    width: 155px;
}

.get-prize-bg2 {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 1px 80px 80px 1px;
    height: 155px;
    margin-bottom: 100px;
    opacity: 1;
    position: relative;
    width: 155px;
}

.get-prize-circle1 {
    background: #EC4C7A 0% 0% no-repeat padding-box;
    border-radius: 50%;
    height: 130px;
    margin-left: 13px;
    margin-top: 13px;
    opacity: 1;
    position: absolute;
    width: 130px;
}

.get-prize-circle2 {
    background: #05DDC5 0% 0% no-repeat padding-box;
    border-radius: 50%;
    height: 130px;
    margin-left: 13px;
    margin-top: 13px;
    opacity: 1;
    position: absolute;
    width: 130px;
}

.get-prize-num {
    color: #FFFFFF;
    font: normal normal bold 40px/12px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    padding-top: 15px;
    text-align: center;
}

/* 10. MITRA DOCTORONCALL SECTION */
.partner-class-section {
    margin-top: 150px;
}

.partner-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #E5E5E54B 0% 0% no-repeat padding-box;
    height: 737px;
    margin-top: 780px;
    opacity: 1;
    position: relative;
    width: 100%;
}

.partner-title-class {
    margin: -12% 0 50px;
    padding-top: 20px;
}

.partner-title-text {
    color: #414141;
    font: normal normal 600 34px/19px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
    text-transform: none;
}

.partner-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: transparent url('img/partners@2x.png') 0% 0% no-repeat padding-box;
    height: 500px;
    opacity: 1;
    position: absolute;
    text-align: center;
    width: 1075px;
}

/* 11. FOOTER */
.footer1-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #EC4C7A 0% 0% no-repeat padding-box;
    height: 276px;
    opacity: 1;
    position: relative;
    width: 100%;
}

.footer-text1 {
    color: #F8F8F8;
    font: normal normal 600 34px/15px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
    padding: 70px;
    text-align: center;
    text-transform: uppercase;
}

.footer-button-class {
    text-align: center;
}

.footer-button {
    background: rgb(46,90,169);
    background: linear-gradient(180deg, rgba(46,90,169,1) 40%, rgba(24,67,149,1) 100%);
    border-radius: 15px;
    color: #fff;
    font: normal normal bold 20px/12px Open Sans;
    font-size: 16px;
    height: 58px;
    padding: 12px 40px;
    opacity: 1;
    width: 225px;
}

.footer2-background {
    background: #10327A 0% 0% no-repeat padding-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 147px;
    opacity: 1;
    position: relative;
    width: 100%;
}

.footer-text-title2 {
    text-align: center;
}

.footer-text2 {
    font: normal normal normal 16px/12px Open Sans;
    color: #FFFFFF;
    letter-spacing: 0px;
    opacity: 1;
    padding: 50px;
}
